@import url("https://fonts.googleapis.com/css2?family=Hanken+Grotesk&family=Lobster+Two:ital@1&display=swap");

* {
	border: 0;
	margin: 0;
	padding-inline: 0;
	font-family: "Hanken Grotesk", sans-serif;
	list-style-type: none;
	/* Variables */
	/* Colors */
	--color-light: #ffffff;
	--color-secundary: #292019;
	/* Font Size */
	--fs-semi-regular: 0.9rem;
	--fs-regular: 1rem;
	--fs-semi-large: 1.5rem;
	--fs-large: 2rem;
	--fs-larger: 3rem;
	--fs-extra-large: 4rem;
	--fs-extra-larger: 5rem;
	/* Font weight */
	--fw-light: 400;
	--fw-bold: 800;
	/* Background color for containers */
	--bg-secondary-light: #fff4e8;
	--bg-primary-light: #fae2c8;
	--bg-primary-dark: #c4a586;
	/* Gaps */
	--gap-mobile: .5rem;
	--gap-desktop: 3rem;
	/* Paddings */
	--padding-regular: 1rem;
	/* Components that shares data */
	--header-size: 125px;
	--footer-size: 100px;
	box-sizing: border-box;
	color: inherit;
}
body {
	max-width: 100vw;
}
#__next {
	overflow-x: hidden;
}
a {
	text-decoration: none;
}
section,
footer {
	position: relative;
	/* padding: var(--padding-regular) 0; */
}
h2 {
	font-size: inherit;
	/* margin: 1rem 0; */
}
h3 {
	text-transform: uppercase;
	width: 100%;
	text-align: center;
}
span {
	text-transform: lowercase;
}
/* Removing button default properties for better styling */
button {
	background: transparent;
	text-align: start;
	font-size: var(--fs-regular);
	color: var(--color-secundary);
}
/* Custom button for most visible buttons */
.button {
	padding: 1rem;
	background-color: var(--bg-primary-dark);
	color: var(--color-light);
	font-size: var(--fs-semi-regular);
	border-radius: 1000rem;
}
/* Common list */
ul {
	display: flex;
	gap: var(--gap-mobile);
	align-items: center;
	padding: var(--padding-regular) 0;
}
ul::-webkit-scrollbar {
	display: none;
}
li {
	cursor: pointer;
	padding: var(--gap-mobile);
}
li:hover {
	font-weight: var(--fw-bold);
}
.active_li {
	font-weight: var(--fw-bold);
}
.arrow_wrapper {
	position: absolute;
	z-index: 1;
	padding: 0.8rem;
	cursor: pointer;
	background-color: #fff;
	border-radius: 50%;
	top: calc(50% - 10px);
	left: 10px;
}
.arrow {
	border: 1px solid black;
	border-bottom: none;
	border-left: none;
	width: 10px;
	height: 10px;
	translate: 3px;
	rotate: -135deg;
}
/* Complementary class for arrow. Pointing to the other side */
.right {
	left: unset;
	right: 10px;
	rotate: 180deg;
}
@media (min-width: 768px) {
	ul {
		gap: var(--gap-desktop);
	}
}
@media (min-width: 40em) {
}